*.tags
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.swp
*.vrb
*.synctex.gz
minted-*
*.vrb
*.lmk
.tag*
elm-stuff/
scripts/grouping.csv
*.DS_Store
node_modules/
index.html
build/
!public/index.html
.vscode/